{% extends "base.html" %}

{% block content %}
  <h1>Dish List
    <a style="float: right" href="{% url 'kitchen:dish-create' %}" class="btn btn-primary link-to-page">+</a>
  </h1>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Dish Type</th>
    </tr>
    {% for dish in dish_list %}
      <tr>
        <td><a href="{% url 'kitchen:dish-detail' pk=dish.id %}">{{ dish.id }}</a></td>
        <td>{{ dish.name }}</td>
        <td>{{ dish.price }}</td>
        <td>{{ dish.dish_type }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}