{% extends "base.html" %}

{% block content %}
  <h1>
    Name: {{ dishtype.name }}
    <a href="{% url 'kitchen:dish_type-delete' pk=dishtype.id%}" class="btn btn-danger link-to-page">Delete</a>
    <a href="{% url 'kitchen:dish_type-update' pk=dishtype.id%}" class="btn btn-primary link-to-page">Update</a>
  </h1>

  <div class="ml-3">
    <h4>Dishes with this type:</h4>

    {% for dish in dishtype.dishes.all %}
      <hr>
      <p><strong>Name:</strong> {{ dish.name }}</p>
      <p><strong>Price:</strong> {{ dish.price }}</p>
      <p class="text-muted"><strong>ID:</strong> {{ dish.id }}</p>

    {% empty %}
      <p>No dishes with this type!</p>
    {% endfor %}
  </div>
{% endblock %}
