{% extends "base.html" %}

{% block content %}
  <h1>
    Name: {{ dish.name }}
    <a href="{% url 'kitchen:dish-delete' pk=dish.id %}" class="btn btn-danger link-to-page">Delete</a>
    <a href="{% url "kitchen:dish-update" pk=dish.id %}" class="btn btn-primary link-to-page">Update</a>
  </h1>

  <p><strong>Price:</strong> {{ dish.price }}</p>
  <p><strong>Description:</strong> {{ dish.description }}</p>
  <p><strong>Dish Type</strong> {{ dish.dish_type }}</p>

  <div class="ml-3">
    <h4>Cooks</h4>

    {% for cook in dish.cooks.all %}
      <hr>
      <p><strong>Username:</strong> {{ cook.username }}</p>
      <p><strong>First Name:</strong> {{ cook.first_name }}</p>
      <p><strong>Last Name:</strong> {{ cook.last_name }}</p>
      <p class="text-muted"><strong>Id:</strong> {{ cook.id }}</p>

    {% empty %}
      <p>No cooks!</p>
    {% endfor %}
  </div>
{% endblock %}
